[submodule "src/ssdi"]
	path = src/ssdi
	url = https://github.com/lcbarnett/ssdi.git
[submodule "src/MVGC2"]
	path = src/MVGC2
	url = https://github.com/lcbarnett/MVGC2.git
[submodule "src/gpmat"]
	path = src/gpmat
	url = https://github.com/lcbarnett/gpmat.git
[submodule "src/gvmat"]
	path = src/gvmat
	url = https://github.com/lcbarnett/gvmat.git
[submodule "src/ReconcilingEmergences"]
	path = src/ReconcilingEmergences
	url = https://github.com/pmediano/ReconcilingEmergences.git
